//
//  Base.xcconfig
//  Otter
//
//  Created by Tim Mahoney on 1/14/24.
//

IS_DEBUG = 0
DEBUG_COMPILATION_CONDITION_0 =
DEBUG_COMPILATION_CONDITION_1 = DEBUG
DEBUG_COMPILATION_CONDITION = $(DEBUG_COMPILATION_CONDITION_$(IS_DEBUG))

SUPPORTED_PLATFORMS = macosx

SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(DEBUG_COMPILATION_CONDITION)

DEAD_CODE_STRIPPING = YES

SWIFT_OBJC_BRIDGING_HEADER = Otter/Otter-Bridging-Header.h

CURRENT_PROJECT_VERSION = 8
MARKETING_VERSION = 1.0.1
